body{
    margin:0px;
    padding: 0px;
    background: url("2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.loginbox{
    width:320px;
    height: 450px;
    background: rgb(196, 36, 36);
    color: #fff;
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 40px 40px;
}
.avatar{
   width: 100px;
   height: 100px;
   border-radius: 50%;
   position: absolute;
   top:-53px;
   left: 35%
}
h1{
    margin: 0px;
    padding: 0 0 20px; 
    text-align: center;
    font-size: 22px;
}
.loginbox p{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}
.loginbox input{
    width: 100%;
    margin-bottom:20px ;
}
.loginbox input[type="email"],input[type="password"],input[type="text"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    height: 50px;
    color: #fff;
    font-size: 16px;
}
.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height:50px;
    background: #fb2525;
    color:#fff;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover{
  
    background: #ffc107;
    color:#fff;
   cursor: pointer;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}
.loginbox a:hover{
    color: #ffc107;
}
.loginbox p{
    text-align: center;
}
.signup{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.signup.pics{
    margin: 10px 5px;
    float: left;
    border-radius:50% ;
    height: 30px;
    width: 30px;
}
hr{
    width:10%;
    background-color: #288637;
}